<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.entvy.openbidhub.mapper.OnbidItemMapper">

    <resultMap id="OnbidItemDtoMap" type="com.entvy.openbidhub.dto.OnbidItemDto">
        <result property="cltrNm" column="CLTR_NM"/>
        <result property="cltrMnmtNo" column="CLTR_MNMT_NO"/>
        <result property="ldnmAdrs" column="LDNM_ADRS"/>
        <result property="nmrdAdrs" column="NMRD_ADRS"/>
        <result property="ldnmPnu" column="LDNM_PNU"/>
        <result property="ctgrFullNm" column="CTGR_FULL_NM"/>
        <result property="dpslMtdNm" column="DPSL_MTD_NM"/>
        <result property="bidMtdNm" column="BID_MTD_NM"/>
        <result property="minBidPrc" column="MIN_BID_PRC"/>
        <result property="apslAsesAvgAmt" column="APSL_ASES_AVG_AMT"/>
        <result property="feeRate" column="FEE_RATE"/>
        <result property="pbctBegnDtm" column="PBCT_BEGN_DTM"/>
        <result property="pbctClsDtm" column="PBCT_CLS_DTM"/>
        <result property="pbctCltrStatNm" column="PBCT_CLTR_STAT_NM"/>
        <result property="goodsNm" column="GOODS_NM"/>
        <result property="iqryCnt" column="IQRY_CNT"/>
        <result property="cltrImgFiles" column="CLTR_IMG_FILES"/>
        <result property="plnmNo" column="PLNM_NO"/>
        <result property="pbctNo" column="PBCT_NO"/>
        <result property="pbctCdtnNo" column="PBCT_CDTN_NO"/>
        <result property="cltrNo" column="CLTR_NO"/>
        <result property="cltrHstrNo" column="CLTR_HSTR_NO"/>
        <result property="scrnGrpCd" column="SCRN_GRP_CD"/>
        <result property="bidMnmtNo" column="BID_MNMT_NO"/>
        <result property="dpslMtdCd" column="DPSL_MTD_CD"/>
        <result property="uscbCnt" column="USCBD_CNT"/>
        <result property="manf" column="MANF"/>
        <result property="mdl" column="MDL"/>
        <result property="nrgt" column="NRGT"/>
        <result property="grbx" column="GRBX"/>
        <result property="endpc" column="ENDPC"/>
        <result property="vhclMlge" column="VHCL_MLGE"/>
        <result property="fuel" column="FUEL"/>
        <result property="sido" column="SIDO"/>
        <result property="sgk" column="SGK"/>
        <result property="emd" column="EMD"/>
        <result property="goodsPrice" column="GOODS_PRICE"/>
        <result property="openPrice" column="OPEN_PRICE"/>
        <result property="pbctBegnDt" column="PBCT_BEGN_DT"/>
        <result property="pbctClsDt" column="PBCT_CLS_DT"/>
        <result property="bidStatus" column="BID_STATUS"/>
    </resultMap>

    <select id="findLatestItems" resultMap="OnbidItemDtoMap">
        SELECT * FROM onbid_items
        WHERE pbct_begn_dtm = (
            SELECT MAX(pbct_begn_dtm)
            FROM onbid_items
            WHERE cltr_no = onbid_items.cltr_no
        )
    </select>

</mapper>